# Ignoring virtual environment
venv
.venv

# Ignoring compiled Python byproducts
*.py[doc]
__pycache__

# Ignoring environmental variables
.env

# Ignoring macOS system files
.DS_Store
.localized

# Ignoring log files
*.log

# Ignoring vim files
*~
*.sw[po]

# Ignoring build byproducts
build/
dist/
*.egg-info/
